@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-twitter {
  background-color: #1DA1F2;
}

.body-bg-img {
  min-height: 900px;
  background-image: url(https://uploads-ssl.webflow.com/5f23b456c81e6bebb921e9cb/639989cf49dddb2de4c00c37_Dotted-gradient-mesh-MAIN.jpg);
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
}